@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Varela+Round');




body {
min-height: 488px;
/*background: #dfced6;
background: #ecadbe;*/

background: #282931;

}


#text-contain {
  color: white;
  text-align: center;
vertical-align: middle;
  font-size: 70px;
  position: relative;
  /*font-family: 'Varela Round', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  font-family: 'Varela Round', sans-serif;}
#container {
   margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    height: 100px;
    border-bottom: #6c9dd1;
    overflow: hidden;
  }
  
  #text-contain {
    position: relative;
    -webkit-animation: textslide 6s infinite;
    animation: textslide 6s infinite;

  }

  @media only screen and (max-width: 579px) {

   #text-contain { font-size: 50px;

   margin-right: 30%;
    margin-left: auto;
    }

}
  
  h1 {
    height: 100px; /*Height should be equal to it's container*/
    width: 100%;
    text-align: center;
    font-color: white;
    }
    
/*  #text3 {font-size: 100px;}
*/  
  @-webkit-keyframes textslide {
    0% {top: 15%;}
    25% {top: 15%;}
    30% {top: -85%;}
    55% {top: -85%;}
    60% {top: -190%;}
    85% {top: -190%;}
    100% {top: 15%;}
    }
  

  @keyframes textslide {
    0% {top: 15%;}
    25% {top: 15%;}
    30% {top: -85%;}
    55% {top: -85%;}
    60% {top: -190%;}
    85% {top: -190%;}
    100% {top: 15%;}
    }


.man {
  top: 20px;
  display: block;
  width: 418px;
  height: 418px;
  position: relative;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center center;

  /* BACKGROUND IMAGE URL IN BOTTOM OF CSS (BASE64) */
}

.man {
     background-image: url("KiKiCircle.png"); 
     background-size:contain;
    background-size: 1100px 520px

}


.man #left-eye, .man #right-eye {
  border-radius: 10%;
  display: block;
  position: absolute;
  width: 30px;
  height: 27px;
  top: 147px;
}
.man #left-eye {
  left: 122px;
}
.man #right-eye {
  left: 190px;
  top: 155px;
}
.man #left-pupil, .man #right-pupil {
  width: 11px;
  height: 11px;
  background: white;
  border-radius: 70%;

  display: block;
  position: absolute;
}

/* JUST BUTTON STYLES */

.button {
  position: absolute;
  top: 570px;
  left: 50%;
  margin-left: -120px;
  color: white;
  display: inline-block;
  width: 240px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  transition: all .3s linear;
  -webkit-font-smoothing: antialiased;
  font-family: 'Varela Round', sans-serif;
font-size: 20px;
}
.button:hover {
  color: #996d73;
}

.button span {
  width: 6px;
  height: 6px;
  position: absolute;
  border: 2px solid white;
  transition: all .3s linear;
}

.button span:nth-child(1) {
  bottom: 5px;
  right: 5px;
  border-top-width: 0;
  border-left-width: 0;
}
.button span:nth-child(2) {
  bottom: 5px;
  left: 5px;
  border-top-width: 0;
  border-right-width: 0;
}
.button span:nth-child(3) {
  top: 5px;
  left: 5px;
  border-bottom-width: 0;
  border-right-width: 0;
}
.button span:nth-child(4) {
  top: 5px;
  right: 5px;
  border-bottom-width: 0;
  border-left-width: 0;
}

/* 
Background is in base64 format so to make code more readable I just moved it here.
*/
