@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Varela+Round');
<script src="http://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

/* Top header that says 'kikichan portfolio'*/

body header h1 {
  position: relative;
  background: #ff9a00;
  height: 5px;
}
body header h1 .top {
  position: absolute;
  font-family: 'Varela Round', sans-serif;
  font-family: 'Amatic SC', cursive;  
  top: 3px; /*the space above Ki Ki Chan, below the orange line */
  left: 60px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #ff9a00;
  font-size: 20px;
  text-align: right;
}
/*body header h1 .top:hover {
  transition: 1.5s;
  text-shadow: 0px 0px 3px #ff9a00;
}*/

body header h1 .top span {
  font-style: italic;
  color: #ff9a00;
  font-size: 12px;
}


/******************* HELLO WORLD INTRO ******************/

#hero {
  text-align: center;
  height: 100%;
  background-color: #282931;
  margin:0px;
  padding-top: 230px
}


.phrase{
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: 'Varela Round', sans-serif;   
  font-size: 2.2em;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  margin: 0px;
  padding-bottom: 100px /* top part of name */
}

.phrase #name {
  font-size: 270%;
  font-weight: normal;
  color:#fc3565;
}
.phrase span {
  position: relative;
  }

.mot{
  display: inline;
  padding-right: 230px;


}
.mot-1 span{ 
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: white;
  -webkit-animation: rotateWord 15s linear infinite 0s;
  -ms-animation: rotateWord 15s linear infinite 0s;
  animation: rotateWord 15s linear infinite 0s;
}
.mot-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
  -ms-animation-delay: 3s; 
  animation-delay: 3s; 
  color: white;
}
.mot-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
  -ms-animation-delay: 6s; 
  animation-delay: 6s; 
  color: white; 
}
.mot-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
  -ms-animation-delay: 9s; 
  animation-delay: 9s; 
  color: white;
}
.mot-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
  -ms-animation-delay: 12s; 
  animation-delay: 12s; 
  color: white;
}

.mot-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
  -ms-animation-delay: 15s; 
  animation-delay: 15s; 
  color: white;
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
  5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
  20% { opacity: 0; -ms-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
  .phrase { font-size: 30px; }
  #hero a {     display: inline-block;
                margin-right: 20px;
                margin-left: auto; }
   #scroll { 
           display: inline-block;
            margin-right: 50px;
            margin-left: auto; 
            right: 50%;
}
}


@media screen and (max-width: 420px){
  .phrase { font-size: 28px; }
  #hero a {     display: inline-block;
                margin-right: 20px;
                margin-left: auto; }

}


/*****scrolling effect **********/
html, body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Varela Round', sans-serif;  
    padding: 0;
  margin: 0;
}

h1, h2 {
  text-align: center;
}

#scroll {
  width: 50px;
  height: 50px;
  background: #e5e5e5;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -55px;
  margin-right: -25px;  how center the scroll is 
  color: white;
  margin-top:-30px;
  font-size: 26px;
  cursor: pointer;
  position: absolute;
  right: 50%;
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  transition: transform 0.6s ease;
}
#scroll.clicked {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}
#scroll.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(3180deg);
}
#scroll span {
  position: relative;
  padding-left:16px; /* position of arrow */

}

.arrow-bounce {
  -webkit-animation: arrow 1s infinite;
  -moz-animation: arrow 1s infinite;
  -o-animation: arrow 1s infinite;
  animation: arrow 1s infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}

@-webkit-keyframes arrow {
  0% {
    bottom: -13px;
  }
  50% {
    bottom: -8px;
  }
  100% {
    bottom: -13px;
  }
}
@-moz-keyframes arrow {
  0% {
    bottom: -13px;
  }
  50% {
    bottom: -8px;
  }
  100% {
    bottom: -13px;
  }
}
@keyframes arrow {
  0% {
    bottom: -13px;
  }
  50% {
    bottom: -8px;
  }
  100% {
    bottom: -13px;
  }
}

/* Bottom Part*/
#paragraph {
  margin-right: auto;
  margin-left: auto;
}

#portfoliotitle {
  height: 250px;
 background-color: #0fa0a0;
}
#four {
  height: 650px;
 background-color: #0fa0a0;
}
#five {
  height: 680px;
 background-color: #a0a00f;
}

#six {
  height: 740px;  
  background-color: #9E1575; 

}

#seven {
  height: 500px;
 background-color: #CF292B;
}

#eight{
  height:730px;
  background-color:#14529F;
}

#nine{
  height:780px;
  background-color: #b2b2b2;

}

#ten{
  height:350px; background-color: #FD8A6B;  
}

/**************** A HREFS  ***********************/

a:link, a:visited {
/*    background-color: #f44336;
*/  color: white;
    text-decoration: none;
    display: inline-block;
    margin-bottom:30px;
}


a:hover, a:active {
    color:black;
}

#hero a{
  text-align: center;
  padding-bottom:50px;
  border-radius: 25px;
  color:white;
  display: inline-block;


}
#hero a:hover, #hero a:active {
    color:black;
}

#three a{
  color:white;
  text-align: center;
  margin: auto;
  width: 50%;
  padding-left:200px;
  padding-top: 250px;
}
#three a:hover, #three a:active {
    color:black;
}

#four a{
  color:white;
  text-align: center;
  margin: auto;
  width: 50%;
  padding-left:200px;
}
#four a:hover, #four a:active {
    color:black;
}

#five a{
  color:white;
  text-align: center;
  margin: auto;
  width: 50%;
  padding-left:200px;
  margin-top:30px;
  margin-bottom: 50px;
}
#four a:hover, #four a:active {
    color:black;

}


#six a{
  color:white;
  text-align: center;
  margin: auto;
  width: 50%;
  padding-left:200px;
  margin-top:30px;
  margin-bottom: 50px;
}
#six a:hover, #six a:active {
    color:black;
}

#seven a{
  color:white;
  text-align: center;
  margin: auto;
  width: 50%;
  padding-left:200px;
}
#seven a:hover, #seven a:active {
    color:black;
}

#eight a{
  color:white;
  text-align: center;
  margin: auto;
  width: 50%;
  padding-left:200px;
  padding-top:40px;
}
#eight a:hover, #eight a:active {
    color:black;
}
#nine a{
  color:white;
  text-align: center;
  margin: auto;
  width: 50%;
  padding-left:200px;
}
#nine a:hover, #nine a:active {
    color:black;
}
/*********** Each Portfolio Part *****************/

.container {
  width: 800px;
  margin: auto;
}
.row {
  position: relative;
  height: 50px;
  z-index: 1;
  clear: both;
  margin-bottom: 30px;
}
.row--intro {
  font-size: 16px;
  line-height: 38px;
  font-weight: 350;
  color: black;
  opacity: 0.8;
}
.row--intro span {
  font-size: 11px;
}
/*************** PICTURES FOR THE 90 PROJECTS ******************/
#allpost {

  width:100%;
  margin-left: 50px;
  position: relative;
  display: block;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-family: 'Varela Round', sans-serif;  
  color:black;

}

.row img{
    background-color: #fff;
    padding: 1px;
    position: relative;
    float: left;
    width:  170px;
    height: 170px;
/*    background-position: 50% 50%;
*/    background-repeat:   no-repeat;
    background-size:     cover;
    margin: 30px;
}

#three {
  background-color: #e5e500;
}
#three .container {
  height:600px;
}
#three .row img{
    background-color: #e5e500;
    position: relative;
    float: left;
    width:  150px;
    height: 240px;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin: 40px;
    margin-top:100px;
}

#four .row img{
    background-color: #fff;
    position: relative;
    float: left;
    width:  150px;
    height: 240px;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin: 40px;
    margin-top:100px;
}

#five .row img{
    background-color: #fff;
    position: relative;
    float: left;
    width:  250px;
    height: 260px;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin: 4px;
    margin-top:100px;
}
.map-image img, .foodprint img, .um img{
    padding-top: 30px;
     width:  550px;
    height: 350px;
    object-fit: cover;
    overflow: hidden;
    margin: auto;
    padding-left:140px;
}

.um img{
  margin-top:80px;
}

#seven .container {
  height:500px;
}

/***************** TITLE *******************************/ 
.portfolio{
  color: #333;
  text-align: center;
  margin: 0;
  font-size: 5vw;
  font-weight: 200;
  border-top: 0.5vw solid #333;
  border-bottom: 0.5vw solid #333;
  padding: 10px 0; 
}


/*******************************************/

