@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Varela+Round');

html, body {
  height: 100%;
}

body {
  background: #282931;
  display: flex;
  -webkit-font-smoothing: antialiased;
  font-family: 'Varela Round', sans-serif;  
}

.card {
  width: 350px;
  padding: 30px;
  background: #fc3565;
  margin-right: 150px;
  margin-left:150px;
  transition: .3s ease;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.card:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  transform: translateY(-10px) scale(1.02);
}
.card:hover .entry-title {
  background-position: -100% 0;
}

.entry-title { 
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #9c3d23 50%); /*the shadow*/
  background-size: 200%;
  background-position: 0 0;
  display: inline;
  transition: .5s ease-in-out;
  text-transform: uppercase;
}
.entry-title a {
  color: white;
  text-decoration: none;
}

small {
  margin-top: 20px;
  display: block;
  color: white;
  text-transform: uppercase;
}
small a {
  font-weight: 700;
  color: white;
  text-decoration: none;
}

span {
  display: block;
  margin-top: 10px;
  font-weight: 700;
  color: #702c19;
}
span a {
  color: white;
}

#slideshow img{
  margin-left: 30px;
  margin-top:100px;
  height: 400px;
  width: 270px;

  border: 10px solid white;
 
}

#slideshow img:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  transform: translateY(-10px) scale(1.02);
    background-position: -100% 0;
}


